# Docker files
.env.docker
Dockerfile
docker-compose.yml

# Python files
__pycache__/
*.py[cod]
*$py.class
.venv/

# Environment files
.env

# MLflow
mlruns/

__pycache__/
*.pyc
*.pyo
*.pyd
.env
mlruns/
Data/
